USE [_ExamsResults]
GO
/****** Object:  Table [dbo].[Accruals_And_Taxes]    Script Date: 16.04.2026 13:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accruals_And_Taxes](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_Exam_Result] [int] NULL,
	[ID_Payment_Bets] [int] NULL,
	[Accrued] [decimal](10, 2) NULL,
	[NDFL] [decimal](10, 2) NULL,
	[Social_Tax] [decimal](10, 2) NULL,
	[To_Be_Paid] [decimal](10, 2) NULL,
	[Date_Of_Calculation] [date] NULL,
 CONSTRAINT [PK_Accruals_And_Taxes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam_Results]    Script Date: 16.04.2026 13:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam_Results](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Subject_ID] [int] NULL,
	[Exam_date] [varchar](50) NULL,
	[Student_ID] [int] NULL,
	[Examiner_ID] [int] NULL,
	[Exams_Result] [varchar](50) NULL,
 CONSTRAINT [PK_Exam_Results] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examiners]    Script Date: 16.04.2026 13:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examiners](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [varchar](50) NULL,
	[Payment_examination] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Examiners] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 16.04.2026 13:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
	[Course] [int] NULL,
 CONSTRAINT [PK_Groups] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_bets]    Script Date: 16.04.2026 13:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_bets](
	[ID] [int] NOT NULL,
	[ID_Examiners] [int] NOT NULL,
	[ID_Subject] [int] NOT NULL,
 CONSTRAINT [PK_Payment_bets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 16.04.2026 13:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FIO] [varchar](50) NULL,
	[Group] [int] NULL,
	[Course] [int] NULL,
 CONSTRAINT [PK_Students] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 16.04.2026 13:26:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_Subject] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Accruals_And_Taxes]  WITH CHECK ADD  CONSTRAINT [FK_Accruals_And_Taxes_Exam_Results] FOREIGN KEY([ID_Exam_Result])
REFERENCES [dbo].[Exam_Results] ([ID])
GO
ALTER TABLE [dbo].[Accruals_And_Taxes] CHECK CONSTRAINT [FK_Accruals_And_Taxes_Exam_Results]
GO
ALTER TABLE [dbo].[Accruals_And_Taxes]  WITH CHECK ADD  CONSTRAINT [FK_Accruals_And_Taxes_Payment_bets] FOREIGN KEY([ID_Payment_Bets])
REFERENCES [dbo].[Payment_bets] ([ID])
GO
ALTER TABLE [dbo].[Accruals_And_Taxes] CHECK CONSTRAINT [FK_Accruals_And_Taxes_Payment_bets]
GO
ALTER TABLE [dbo].[Exam_Results]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Results_Examiners] FOREIGN KEY([Examiner_ID])
REFERENCES [dbo].[Examiners] ([ID])
GO
ALTER TABLE [dbo].[Exam_Results] CHECK CONSTRAINT [FK_Exam_Results_Examiners]
GO
ALTER TABLE [dbo].[Exam_Results]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Results_Students] FOREIGN KEY([Student_ID])
REFERENCES [dbo].[Students] ([ID])
GO
ALTER TABLE [dbo].[Exam_Results] CHECK CONSTRAINT [FK_Exam_Results_Students]
GO
ALTER TABLE [dbo].[Exam_Results]  WITH CHECK ADD  CONSTRAINT [FK_Exam_Results_Subject] FOREIGN KEY([Subject_ID])
REFERENCES [dbo].[Subject] ([ID])
GO
ALTER TABLE [dbo].[Exam_Results] CHECK CONSTRAINT [FK_Exam_Results_Subject]
GO
ALTER TABLE [dbo].[Groups]  WITH CHECK ADD  CONSTRAINT [FK_Groups_Students] FOREIGN KEY([Course])
REFERENCES [dbo].[Students] ([ID])
GO
ALTER TABLE [dbo].[Groups] CHECK CONSTRAINT [FK_Groups_Students]
GO
ALTER TABLE [dbo].[Payment_bets]  WITH CHECK ADD  CONSTRAINT [FK_Payment_bets_Examiners] FOREIGN KEY([ID_Examiners])
REFERENCES [dbo].[Examiners] ([ID])
GO
ALTER TABLE [dbo].[Payment_bets] CHECK CONSTRAINT [FK_Payment_bets_Examiners]
GO
ALTER TABLE [dbo].[Payment_bets]  WITH CHECK ADD  CONSTRAINT [FK_Payment_bets_Subject] FOREIGN KEY([ID_Subject])
REFERENCES [dbo].[Subject] ([ID])
GO
ALTER TABLE [dbo].[Payment_bets] CHECK CONSTRAINT [FK_Payment_bets_Subject]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_Students_Groups] FOREIGN KEY([Group])
REFERENCES [dbo].[Groups] ([ID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_Students_Groups]
GO
